.logo {
  margin: 0;

  text-align: center;
  background-color: #b30027;
}

.logo header {
  margin: 0;
  white-space: nowrap;
  font-weight: bold;
  font-family: "BenchNine", sans-serif;
  color: #fff;
  opacity: 0;
  animation: port 3s 1 forwards;
  -webkit-animation: port 3s 1 forwards;
}

.logo span {
  white-space: nowrap;
  font-family: Martel-subset, Georgia;
  color: #999;
  opacity: 0;
  animation: port 3s 1 forwards;
  -webkit-animation: port 3s 1 forwards;
}

@media screen and (min-width: 601px) {
  .logo {
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .logo header {
    font-size: 4em;
  }
  .logo span {
    letter-spacing: 0.2em;
    font-size: 2em;
  }
}

@media screen and (max-width: 600px) {
  .logo {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  .logo header {
    font-size: 2em;
  }
  .logo span {
    letter-spacing: 0.1em;
    font-size: 1em;
  }
}

@keyframes port {
  0% {
    -webkit-transform: translateY(-25%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0%);
    opacity: 1;
  }
}
