main {
  background-color: #e4e4e4;
}

.div--grid {
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  padding-top: 8%;
  padding-bottom: 8%;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, 400px);
}

.div__div--grid-item a {
  padding: 0;
}

.div__div--grid-item h2 {
  color: #444;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.div__div--grid-item p {
  font-size: 1.5em;
  color: #999999;
  text-align: center;
}

.div__div--grid-item img {
  border-radius: 15px;
  height: 250px;
  width: 400px;
  box-shadow: 5px 5px 5px grey;
}

@media screen and (max-width: 600px) {
  .div__div--grid-item img {
    width: 200px;
    height: 125px;
  }

  .div__div--grid-item h2 {
    font-size: 1em;
  }

  .div__div--grid-item p {
    font-size: 0.75em;
  }

  .div--grid {
    padding-left: 10%;
    padding-right: 10%;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 8%;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 200px);
  }
}
